*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl
source/.ipynb_checkpoints/*
.ipynb_checkpoints/*
**/.ipynb_checkpoints/*

*.aux
*.fdb_latexmk
*.fls
*.synctex.gz
*.ent
*.bbl
*.blg
*.pdfsync
*.out
*(busy)
*.log
*.nav 
*.toc 

.ipynb_checkpoints/*
**/.ipynb_checkpoints/*
source/exercises/.ipynb_checkpoints/*
~$*

Solutions_*.ipynb
.DS_Store
